.section-2 {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: flex-start;
	justify-content: center;
}

.section-1 {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: flex-start;
	justify-content: center;	
}

.main-page {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	height: calc(100vh - 150px);
	background: #519d90;
	padding: 50px;
	height: 100vh;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-tabs .submit-btn-retro {
	max-width : 100%;
	margin: 0;
	margin-bottom: 50px;
}

.header-tabs .selected-tab {
	background: #519d90;
	border-top: 4px solid #000;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: none;
}

.tab-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.tab-btn-retro {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-bottom: 4px solid #000;
}

.info-card {
	max-width: 320px;
	min-width: 250px;
	margin: 30px;
	padding: 10px;
	border: 3px solid #000;	
	background-color: #e69675;
	color: #222;
	font-family: monospace;
	font-size: 14px;
}

.info-title {
	font-family: monospace;
	font-weight: bold;
	font-size: large;
	padding: 3px;
	color: #000;
	border-bottom: 1px solid #000;
}

#header-greet {
	font-family: monospace;
	font-size: larger;
	font-weight: bolder;
	margin: 10px;
	background-color: #e69675;
	padding: 5px;
	text-align: center;
	height: 35px;
}

.col-hello {
	color: #333;
}

.caffene-emp {
	margin-top:-250px;
	margin-left: -100px;
	height: 800px;
	width: 800px;
}

.fat-emp {
	max-height: 280px;
	margin-right: -150px;
}

.cmp-logo {
	max-width: 100px;
	max-height: 100px;
}